@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    font-family: 'Montserrat';
}

input{
    height: 40px;
    border: 1px solid #282c34;
    padding-left: 20px;
}

input:focus{
    outline: none;
    border: 1px solid cadetblue;
}

.outlined-btn{
    border: 1px solid #C4DFDF;
    color: #C4DFDF;
    padding: 10px 20px;
    height: 40px;
    text-transform: uppercase;

}

.contained-btn{
    background-color: orangered;
    color: white;
    padding: 5px 20px;
}